<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h2 class="text-center">About page</h2>
            </div>
            <div class="container">
                <p>This is the final project for One Month Python with Mattan Griffel</p>
                <p>Written by <a href="https://www.linkedin.com/in/david-shuler-a15a0431">David Shuler</a></p>
            </div>
        </div>
        <div class="footer">
            <a href="{{ url_for('index')}}">Back to home.</a>
        </div>
    </body>
</html>
